<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login⚡</title>

    <link rel="stylesheet" href="Adminlogin.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <form action="" method="post">

        <h1 class="login-text">Admin Login⚡</h1>
        <div class="user">
            <label for="username">Username</label>
            <input type="email" name="name" id="username" placeholder="example@gmail.com" required>
        </div>

        <div class="pass">
            <label for="pass">Password
                <input type="password" name="password" id="pass" placeholder="" required>
            </label>
        </div>

        <div class="check">
            <span><input type="checkbox" checked></span>
            <h3>I accept & agree the terms and Conditions</h3>
        </div>

        <div class="submit-btn">
            <button class="btn" type="submit">Login</button>
        </div>
    </form>
</body>

</html>