@import url("https://fonts.googleapis.com/css2?family=Aoboshi+One&display=swap"); /* For the Web name */
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap"); /* the Nav  */
@import url("https://fonts.googleapis.com/css2?family=Geologica&display=swap"); /* heading */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,300&display=swap"); /* para */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap"); /* Ai-text */
@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Bebas+Neue&family=Scope+One&family=Ubuntu:wght@300&family=Unbounded:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Anton&family=Bebas+Neue&family=Libre+Baskerville:wght@700&family=Satisfy&family=Scope+One&family=Ubuntu:wght@300&family=Unbounded:wght@300&display=swap");

/* Universal Styling */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* this styling is for the Scrollbar that occurs in the right side of the Webpage  */

html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 8px;
  display: none;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* The Main Styling Starts Here >>>>> */

body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  gap: 0;
  background-color: rgb(0, 0, 0);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.5);
  z-index: 100;
}

input[type="checkbox"]:checked ~ .overlay {
  pointer-events: auto;
  opacity: 0.85;
  transform: scale(1);
  transition: transform 0.5s ease, opacity 0.5s ease;
}
.donation {
  position: fixed;
  z-index: 100;
  top: 70%;
  right: 0%;
}

.Qrcode img {
  height: 450px;
  width: 350px;
}

figure:hover {
  cursor: pointer;
}

.final_container {
  position: fixed;
  padding-top: 10px;
  top: 50%;
  left: 50%;
  z-index: 101;
  width: 90%;
  max-width: 500px;
  background-color: rgb(0, 140, 255);
  height: 100%;
  max-height: 1000px;
  pointer-events: none;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.5);
  border-radius: 20px;
}

input[type="checkbox"]:checked ~ .final_container {
  pointer-events: auto;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%) scale(0.9);
  /* -webkit-transition: transform 0.5s ease opacity 0.5s ease ; */
  transition-delay: 0.25s;
}

.Qr {
  filter: contrast(120%);
  /* filter: saturate(120%); */
}

.Qrcode h3 {
  font-size: 1.7rem;
}

.button_theme2 i {
  font-size: 1.57rem;
  margin-top: 70px;
  color: rgb(0, 140, 255);
}

.button_theme2 i:hover {
  cursor: pointer;
  font-size: 2rem;
  transition: font-size 0.5s;
  color: red;
}

.Qrcode {
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1.5rem;
}
.Qrcode p q {
  font-family: "Aboreto", cursive;
  font-family: "Anton", sans-serif;
  font-family: "Bebas Neue", cursive;
  font-family: "Libre Baskerville", serif;
  font-family: "Scope One", serif;
  font-family: "Ubuntu", sans-serif;
  font-family: "Unbounded", cursive;
}

.Qrcode h3 {
  font-family: "Satisfy", cursive;
}

.inside {
  display: block;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
}

.inside a {
  color: black;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.86);
  display: grid;
  justify-content: center;
  align-items: center;
  visibility: visible;
  z-index: 999;
}

.hide-preloader {
  z-index: -999;
  visibility: hidden;
}

.bg-img {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-width: 100%; /* This is styling for Video  of  Space running in Background */
  max-width: 500px;
  filter: brightness(70%);
  border: none;
  padding: none;
  cursor: auto;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

/*  This is the Styling for Sect-1 */

.sect-1 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  position: absolute;
  top: calc(1%);
}

.nav-item a,
#active {
  font-family: "Chakra Petch", sans-serif;
  letter-spacing: 1.5px;
  color: white;
  font-weight: bold;
  filter: brightness(120%);
}
#profile {
  filter: brightness(100%);
}
.nav-item a:hover {
  font-weight: bold;
  color: rgb(252, 3, 252);
  filter: brightness(150%);
}

.brand {
  color: #fff;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-evenly;
  width: 10%;
  gap: 20px;
}

#links {
  width: 55%;
}

#links li {
  text-decoration: none;
  color: white;
  display: grid;
  grid-template-columns: 0.4fr 0.4fr 0.4fr 0.4fr;
  padding: 5px 5px;
}

.nav-cont {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  /* background-color: blue; */
}

.logo-icon {
  filter: saturate(150%);
  border: 2px solid #2c94ea;
  border-radius: 10px;
  animation: flicker 5s linear infinite;
}

@keyframes flicker {
  0% {
    border: 2px solid #2c94ea;
    border-radius: 10px;
  }

  40% {
    border: 2px dotted #ef00e2;
    border-radius: 30px;
  }
  60% {
    border: 2px solid #2c94ea;
    border-radius: 50px;
  }
  80% {
    border: 2px dotted #ef00e2;
    border-radius: 30px;
  }
  100% {
    border: 2px dotted #2c94ea;
    border-radius: 10px;
  }
}

.name {
  animation: droping 5s linear infinite;
  font-size: 2rem;
  letter-spacing: 1.5px;
  word-spacing: 10px;
  font-family: "Aoboshi One", serif;
}
@keyframes droping {
  0% {
    filter: drop-shadow(1px 3.5px 9px #2c94ea);
  }

  40% {
    filter: drop-shadow(1px 3.5px 9px #ef00e2);
  }
  70% {
    filter: drop-shadow(1px 3.5px 9px #2c94ea);
  }
  90% {
    filter: drop-shadow(1px 3.5px 9px #ef00e2);
  }
}

/* this is the styling for the section 2 */

.sect-2 {
  width: 50%;
  position: absolute;
  top: calc(9% - 50px);
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
  left: 5%;
}
.line1 {
  font-family: "Geologica", sans-serif;
  font-size: 7rem;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.951);
  margin: 15px;
  margin-bottom: 60px;
  word-spacing: 2px;
  letter-spacing: 1.5px;
  filter: saturate(150%);
}

.line1:hover {
  filter: saturate(150%);
  transition: 2.5s;
  transform: scale(1.07);
}

.line2 {
  width: 89%;
  font-family: "Geologica", sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.951);
  filter: drop-shadow(0 0 5px rgb(255, 208, 0));
}
.line2::before {
  content: " “ ";

  font-family: "Geologica", sans-serif;
  font-size: 3rem;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.951);
}
.line2::after {
  content: " ” ";
  font-family: "Geologica", sans-serif;
  font-size: 3rem;
  font-weight: bold;

  color: rgba(255, 255, 255, 0.951);
}

.line2:hover {
  filter: saturate(150%);
  transition: 2.5s;
  transform: scale(1.07);
  filter: drop-shadow(0px 0px 5px black);
}

/* this is the Styling for section 3 */

.trending {
  color: rgba(255, 255, 255, 0.949);
  font-size: 3.5rem;
  padding: 35px;
  text-align: center;
  font-family: "Aboreto", cursive;
  font-family: "Scope One", serif;
  font-family: "Ubuntu", sans-serif; /* The is the Styling For The Heading IN the top of Section 4 */
  font-family: "Unbounded", cursive;
  letter-spacing: 1.5px;
  word-spacing: 3px;
  margin-bottom: 50px;
}

.carousel-cell {
  width: 66%;
  margin-right: 10px;
  border-radius: 5px;
  
}


.sect-3{
  background-color: black;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  width: 100%;
  padding-bottom:100px ;

}


/*  styling for sect-4 */

.New-1 {
  position: relative;
  width: 250px;
  height: 350px;
  background-color:rgb(70, 206, 193);
  background-image: url("Frosted Glass effect in CSS/assets/background.png");
  border-radius: 10px;
  box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.596);
  

}

.dheeraj{
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
  background:linear-gradient( to top ,white 45% , rgb(13, 149, 212) 45%);
  border-radius: 10px;
  filter: saturate(120%);
}

.ai-image{
  margin-bottom: 45px;
}

.ai-image img{
  filter: saturate(120%);
  border: blue;
  border-radius: 50%;
}

.ai-name{
  text-align: center;
  color: black;
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 20px;
  
}
.ai-status a{
  text-decoration: none;
}



.ai-status{
  width: 85%;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  place-content: center;
  column-gap:20px;
  
}

.ai-views,
.ai-link{
  color:rgb(253, 253, 253);
  font-size: 0.8rem;
  background:linear-gradient(45deg, #2c94ea , #ef00e2);
  text-align: center;
  border-radius: 10px;
  padding: 2px;
  
}



.Most {
  margin-top: 25px;
  color: rgb(7, 7, 7);
  font-size: 3.5rem;
  padding: 35px;
  font-family: "Aboreto", cursive;
  font-family: "Scope One", serif;
  font-family: "Ubuntu", sans-serif; /* The is the Styling For The Most Watch In the top of Section 5 */
  font-family: "Unbounded", cursive;
  letter-spacing: 1.5px;
  word-spacing: 3px;
  margin-top: 50px;
  text-align: center;
  font-weight: bold;
}

.container {
  width: 100%;
  padding: 100px 50px 100px 15px;
  display: grid;
  grid-template-columns: repeat(2, 2fr 2fr);
  row-gap: 150px;
  column-gap: 100px;
  border-radius: 10px;
  margin-top: 30px;
}



.sect-4 {
  width: 100%;
  background-color: rgb(255, 255, 255);
  background-image: url("");
  margin-top: 8%;
  margin-bottom: 50px;
  border-top-left-radius: 7%;
  border-top-right-radius: 7%;
  border-bottom-left-radius: 2%;
  border-bottom-right-radius: 2%;
  box-shadow: inset 0px 0px 1000px 10px lightcyan;
}

.Data {
  text-transform: capitalize;
  position: absolute;
  width: 100%;
  height: 350px;
  padding: 15px  20px 10px 20px;
  font-weight: bold;
  letter-spacing: 1.05px;
  text-align: center;
  display: grid;
  place-content: end;
  color: rgb(255, 255, 255);
  font-size: rem;
  font-family: "Ubuntu", sans-serif;
  font-family: "Unbounded", cursive;
  background: black;
  border-radius: 10px;
  
}

.dheeraj:hover {
  transform: translateY(-25%);
  transition: 0.3s;

}


.explore-more{
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.explore-more a button{
  padding: 10px 25px;
  border: none;
  border-radius: 0px 10px 0px 10px;
  background-color: red;
  color: white;
  font-weight: 600;

}


.explore-more a button:hover{
  transform: scale(1.05);
  transition: 0.5s ;
  box-shadow: 2px 2px 10px red;

}

.btn-container{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  margin: 40px ;

}


.filter-btn{
  padding: 8px 35px;
  color: black;
  font-size: 1.15rem;
  filter: drop-shadow(0 0 3px gold);
  background-color: rgba(255, 217, 0, 0.84);
  border: none ;
  border-radius:8px;
  outline: none;

}

.filter-btn:hover{
  box-shadow: 1px 1px 10px goldenrod;
}

/* This is an Styling for the Footer Tag */

footer {
  width: 100%;
  padding: 50px 50px 50px 0px ;
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1.2fr ;
  place-content: center;
  align-items: center;
  column-gap: 70px;
  background-color: rgba(0, 0, 0, 0.948);
}

.sect_6 {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 15px;
}

.logo_footer {
  object-fit: fill;
  filter: saturate(150%);
}

.name_footer {
  text-decoration: none;
  font-size: 3rem;
  font-weight: bold;
  color: rgb(25, 25, 246);
  text-shadow: 0px 0 20px rgb(0, 0, 255);
}

.wbname{
  color: #fff;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-evenly;
  width: 30%;
  gap: 5px;
}



.links_footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 15px;
  filter: saturate(120%);
}

.footer_headings {
  letter-spacing: 1.7px;
  font-size: 1.3rem;
  color: rgba(154, 152, 152, 0.86);
  filter: saturate(150%);
}

.sect_7 {
  display: flex;
  align-items: center;
  flex-flow: column;
  gap: 16px;
}
.sect_8 {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.sect_8 ul li,
.sect_7 ul li {
  text-decoration: none;
  list-style-type: none;
}

.sect_8 ul li:hover,
.sect_7 ul li:hover {
  transition: 0.2s;
  transform: scale(1.1);
}
.sect_8 ul li a,
.sect_7 ul li a {
  font-family: "Ubuntu", sans-serif;
  text-decoration: none;
  color: #fff;
  letter-spacing: 1px;
}

.sect_8 ul li a,
.sect_7 ul li a {
  display: inline-block;
  padding: 10px;
  margin-bottom: 3px;
}

.sect_8 ul li a:hover,
.sect_8 ul li a:focus,
.sect_7 ul li a:hover, 
.sect_7 ul li a:focus {
  color: rgb(252, 3, 252);
  filter: saturate(200%);
  font-weight: bolder;
  text-shadow: 0 0 10px rebeccapurple;
}

.sect_9 {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.sect_9 input[type="text"] {
  padding: 0 20px;
  line-height: 30px;
  font-size: 1.05rem;
  color: rgb(255, 255, 255);
  background-color: #363535;
  border: none;
  border-radius: 100px;
  outline: none;
  margin-top: 10px;
  letter-spacing: 1.05px;
  word-spacing: 1.2px;
}
.sect_9 input[type="text"]:active,
.sect_9 input[type="text"]:focus {
  border-bottom: 2.6px solid rgb(0, 110, 255);
  filter: saturate(120%);
  filter: brightness(120%);
  background-color: black;
}

.btn_1 {
  width: 35px; /* This is Also the Styling for Section 3 */
  height: 35px;
  background-color: rgb(
    6,
    240,
    22
  ); /* This is the Submit Button  for the Reviews Section */
  border: 2px solid green;
  border-radius: 50%;
  color: white;
  font-weight: bolder;
  font-size: 1.2rem;
}

.btn_1:hover,
.btn_1:focus {
  color: rgb(255, 255, 255);
  border: 2px solid rgb(4, 175, 4);
  transition: 0.3s;
  box-shadow: 0 0 8px 3px rgb(0, 247, 29);
}

.sect_10 {
  margin-right: 40px;
  font-size: 1.05rem;
  font-weight: bold;
  color: rgb(25, 113, 246);
  text-shadow: 0px 0 20px rgb(0, 0, 255);
}

.links_footer a {
  animation: gingle 0.6s ease infinite;
}

@keyframes gingle {
  0%,
  100% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(10deg);
  }
}

